/* Get rid of default styles */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the nav */
#logo{
    width: 50px;
}
.navbar{
    display: flex;
    background-color: #FFCE45;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
}

/* Brand Styles */
.brand{
    font-size: 35px;
    font-weight: bold;
    color: #2E4C6D;
}
.brand span{
    font-family: 'Lobster', cursive;
}
.brand img:hover{
    transition: 1s;
    transform: rotateY(360deg);
}
/* List styles */
.list{
    display: flex;
    list-style-type: none;
    padding-top: 20px;
}
.list a{
    color: #7E370C;
    padding: 0 10px;
    text-decoration: none;
    font-weight: bold;
}
.list a:hover{
    color: #2E4C6D;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}


/* //////////////////////////////// */
/* Hero section styles  */

.container{
    background-size: cover;
    background-position: center;
    height: 600px;
    animation: changer 6s ease-in-out  alternate infinite;
    padding-top: 20px;
}

/* Animation */

@keyframes changer {
    to{
        background-image: url(../img/bg-1.jpg);
    }
    from{
        background-image: url(../img/bg-2.jpg);
    }
}


.hero{
    display: flex;
}

.left{
    padding-top: 16%;
    padding-left: 30px;
    font-size: 37px;
    text-align: center;
    color: #FFCE45;
    text-shadow: -3px 3px 3px #FFFFFF;
}
#call{
    padding: 15px;
    width: 200px;
    background-color: #FFCE45;
    border-radius: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 1s;
    border: none;
}
#call:hover{
    background-color: #8b8b8b;
    transform: scale(1.1);
    transition: 1s;
}





/* MEDIA QUERRIES/////////////////////////////////////////////////////////////////////////////// */
/* Tablets */
@media (max-width:736px) {
    .navbar{
        display: flex;
    }
    .list a{
        font-size: 14px;
        text-align: center;
    }
    .brand span{
        font-size: 20px;
    }
}

/* Mobile */
@media (max-width:640px){
    .brand span{
        font-size: 25px;
    }
    /* Navbar */
    .navbar{
        display: block;
    }
    .list a{
        font-size: 14px;
        text-align: center;
    }

    /* Hero Section */
    .hero img{
        display: none;
    }
    .left{
        font-size: 30px;
        padding-left: 8px;
    }
}

.video1{
    display: grid;
    grid-template-columns: repeat(2,2fr);
 
}

#hell{
    width: 683px;
    height: 400px;
    gap: 20px;
}
.grind-1{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    background-color: #2E4C6D;
    background-position: center;
    background-size: cover;
    height: 500px;
    

}

#imgg{
    width: 600px;
    height: 500px;
}

.grind1-about{
    word-spacing: 5px;
    padding: 10px;
    color: #ffffff;
    

}

.grind1-about h2{
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
}

#btn{
    padding: 20px;
    width: 200px;
    height: 100px;
    position: relative;
    text-transform: uppercase;
    color: #ffffff;
    left: 40%;
    top: 20%;
    border-radius: 20px;
    border: none;
    background-color: #FFCE45;
    font-weight: bold;
    box-shadow: 20px 15px 15px gray;
    font-weight: bold;
    text-align: center;
    transform: 2s;
}
#btn:hover{
    padding: 25px;
    background-color: #B05E27;
    transform: scale(1.1);
    transition: 1s;
}

#imgs3{
    width: 430px;
    height: 450px;   

}
.grind-3{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 10px;
    padding: 5px;
}

.grind-3 a{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    
}

.h11{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

/* contact us section */
.form{
    display: grid;
    
    padding: 30px;
    background-color: #396EB0;
    color: #ffffff;

}

#textarea{
    width: 400px;
    padding: 10px;
    border: 1px solid #ffffff;
}
.form form{
    padding: 10px;
    
}

#btnn{
    padding: 20px;
    width: 200px;
    height: 100px;
    position: relative;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    background-color: #FFCE45;
    font-weight: bold;
    box-shadow: 20px 15px 15px gray;
    font-weight: bold;
    text-align: center;
    transform: 2s;
    left: 20%;
}

#btnn:hover{
    padding: 25px;
    background-color: #B05E27;
    transform: scale(1.1);
    transition: 1s;
}

#lady{
    width: 750px;
    height: 550px;   
}
.map-div{
   display: grid;
   grid-template-columns: repeat(2,2fr);
   gap: 5px;
   background-color: #FFCC1D;
   animation: lady 2s ease-in-out;

}

.map-image{
    animation: lady 6s ease-in-out  alternate infinite;;
}

@keyframes lady{
    to{
        background-image: url(../img/lady.jpg);
    }
    from{
        background-image: url(../img/helmet-1.jpg);
    }

}
.anchor-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color:#8b8b8b ;
